
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #151232;
    color: #fff;
}
/* Menempatkan semua elemen di game ini di tengah */
.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center; 
    top: 0;
    position: relative;
    padding: 0;

}

/* Judul Game */
.title{
    position: center ;
    top: 0;
    font-size: 3.5rem;
    z-index: 2;
    padding: 2rem;
    flex-direction: column;
}

/* Papan Skor */
.score{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: static;
    top: 70px;
    z-index: 1;
    
}
 
/* Skor  */
.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    
}
.imgContainer {
    float: left;
    position: relative;
    padding: 1rem;
    flex-flow: row;
}


/* displaying three buttons in one line */
.options{
    display:flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 1rem;
    position: relative;
    margin-left: 2rem;
    /* margin-bottom: 2rem; */
    margin-right: 2rem;
    flex-direction: column-reverse;
}

.options::after{
    content: "";
    clear: both;
    display: table;
}
 
/* Styling on all three buttons */
.rock, .paper, .scissors{
    padding: 0.8rem;
    width: 100px;
    border-radius: 15px;
    background: green;
    outline: none;
    border-color: green;
    border: none;
    cursor: pointer;
}

.imgContainer {
    float: left;
    width: 33.33%;
    padding: 5px;
    position:absolute;
    top: 0;
    left: 50px;
    z-index: 9;
    cursor: pointer;
    width: 20px;
    height: 20px;
    transition: 1s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.move{
    font-size: 2rem;
    font-weight: bold;
}
 
/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
 
.result{
    margin-top: 20px;
    font-size: 1.2rem;
}
 
/* Responsive Design */
@media screen and (max-width: 612px)
{ 
    .title{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
        flex-flow: row;

    /* styles.css */
/* universal selector - Applies to whole document */
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background: #082c6c;
        color: #fff;
}
/* To center everything in game */
.game{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
}
 
/* Title of the game */
.title{
    position: absolute;
    top: 0;
    font-size: 4rem;
    z-index: 2;
}
 
/* Score Board */
.score{
    display: flex;
    width: 30vw;
    justify-content: space-evenly;
    position: absolute;
    top: 70px;
    z-index: 1;
}
 
/* Score  */
.p-count,.c-count{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
 
/* displaying three buttons in one line */
.options{
    display: flex;
    width: 50vw;
    justify-content: space-evenly;
    margin-top: 2rem;
    flex-wrap: wrap;

}
.options::after{
    content: "";
    clear: both;
    display: table;
}


 
/* Styling on all three buttons */
.rock, .paper, .scissors{
    padding: 0.8rem;
    width: 100px;
    border-radius: 10px;
    background: green;
    outline: none;
    border-color: green;
    border: none;
    cursor: pointer;
}
 
.move{
    font-size: 2rem;
    font-weight: bold;
}

/* .movesleft {
    padding: 1.5rem ;
} */
 
/* Reload button style */
.reload {
    display: none;
    margin-top: 2rem;
    padding: 1rem;
    background: green;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
 
.result{
    margin-top: 20px;
    font-size: 1.2rem;
}
 
/* Responsive Design */
@media screen and (max-width: 612px)
{ 
    .title{
        text-align: center;
    }
    .score{
        position: absolute;
        top: 200px;
        width: 100vw;
    }
    .options{
        width: 100vw;
    }
}}